.advertisement {
  width: 100px;
  height: 150px;
  border-color: black;
  border-width: 2px;
  background-color: gray;
  color: white;
  position: absolute;
  top: 3px;
  left: 3px;
}

.advertisement::before {
  content: "";
  font-size: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  display: inline-block;
  position: absolute;
  top: 0;
}

.logo {
  display: inline-block;
  margin-right: 8px;
}

.image {
  width: 250px;
  height: 250px;
  float: left;
  margin: 8px;
}

.image img {
  width: 250px;
  height: 250px;
}

.main {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: justify;
}

.header {
  width: 70%;
  margin: auto;
}
.content {
  width: 70%;
  margin: auto;
}
.head {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
